In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/python/3.12.1/lib/python3.12/site-packages (2.0.35)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from sqlalchemy) (3.1.1)

In [2]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in /usr/local/python/3.12.1/lib/python3.12/site-packages (2.9.9)

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
df_iter = pd.read_csv('../yellow_tripdata_2019-01.csv',iterator=True,chunksize=100000)
i = 0
while True:
    df = next(df_iter)
    if i == 0:
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        df.head(n=0).to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')
        df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')
        print("finished chunk ",i)
        i += 1
    else:
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')
        print("finished chunk ",i)
        i +=1

finished chunk  0
finished chunk  1
finished chunk  2
finished chunk  3
finished chunk  4
finished chunk  5
finished chunk  6
finished chunk  7
finished chunk  8
finished chunk  9
finished chunk  10
finished chunk  11
finished chunk  12
finished chunk  13
finished chunk  14
finished chunk  15
finished chunk  16
finished chunk  17
finished chunk  18
finished chunk  19
finished chunk  20
finished chunk  21
finished chunk  22
finished chunk  23
finished chunk  24
finished chunk  25
finished chunk  26
finished chunk  27
finished chunk  28
finished chunk  29
finished chunk  30
finished chunk  31
finished chunk  32
finished chunk  33
finished chunk  34
finished chunk  35
finished chunk  36
finished chunk  37
finished chunk  38
finished chunk  39
finished chunk  40
finished chunk  41
finished chunk  42
finished chunk  43
finished chunk  44
finished chunk  45
finished chunk  46
finished chunk  47
finished chunk  48
finished chunk  49
finished chunk  50
finished chunk  51
finished chunk  52
finished chunk  53
finished chunk  54
finished chunk  55
finished chunk  56
finished chunk  57
finished chunk  58
finished chunk  59
finished chunk  60
finished chunk  61
finished chunk  62
finished chunk  63
finished chunk  64
finished chunk  65
finished chunk  66
finished chunk  67
finished chunk  68
finished chunk  69
finished chunk  70
finished chunk  71
finished chunk  72
finished chunk  73
finished chunk  74
finished chunk  75
finished chunk  76

StopIteration:

In [12]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.50,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.60,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.00,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.00,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.00,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-01-01 00:02:06,2019-01-01 00:10:19,2,2.57,1,N,45,97,1,9.5,0.5,0.5,2.16,0.0,0.3,12.96,NaN
96,2,2019-01-01 00:24:57,2019-01-01 00:35:42,2,2.44,1,N,144,256,2,10.5,0.5,0.5,0.00,0.0,0.3,11.80,NaN
97,2,2019-01-01 00:46:09,2019-01-01 01:06:46,1,4.18,1,N,79,263,1,16.0,0.5,0.5,3.46,0.0,0.3,20.76,NaN
98,1,2019-01-01 00:16:07,2019-01-01 00:19:41,1,1.00,1,N,140,233,1,5.0,0.5,0.5,1.00,0.0,0.3,7.30,NaN
99,1,2019-01-01 00:23:47,2019-01-01 00:39:41,1,3.90,1,N,229,238,1,14.5,0.5,0.5,4.70,0.0,0.3,20.50,NaN

In [7]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data_jan" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)